 /* dos */
 .spinner2 {
    flex-direction: row;
    
    
    /* margin:center; */
    width: 80px;
    height: 60px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner2 > div {
    /* box-shadow: 10px 10px 30px red;  */
    
    opacity: 0.8;
    height: 100%;
    width: 10px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner2 .rect1 {
    background-color: rgb(65, 6, 99);
    
    border-color: aliceblue;
  }
  .spinner2 .rect2 {
    background-color: rgb(186, 163, 206);
    border-color: aliceblue;
    height: 100%;
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner2 .rect3 {
    background-color: rgb(175, 13, 113);
    border-color: aliceblue;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner2 .rect4 {
    background-color: rgb(172, 114, 172);
    border-color: aliceblue;
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner2 .rect5 {
    background-color: rgb(94, 7, 72);
    border-color: aliceblue;
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }